---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: node-feature-discovery
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: node-feature-discovery
  values:
    master:
      resources:
        requests:
          memory: 128Mi
        limits:
          memory: 128Mi
    worker:
      resources:
        requests:
          memory: 64Mi
        limits:
          memory: 64Mi
      config:
        core:
          featureSources:
            - custom
            - kernel
            - pci
            - usb
          labelSources:
            - custom
            - kernel
            - pci
            - usb
        sources:
          usb:
            deviceClassWhitelist:
              - "02"
              - "0e"
              - "ef"
              - "fe"
              - "ff"
            deviceLabelFields:
              - class
              - vendor
              - device
          pci:
            deviceClassWhitelist:
              - "0108" # NVMe device class id
              - "03"
              - "0b40"
              - "12"
            deviceLabelFields:
              - class
    gc:
      resources:
        requests:
          memory: 64Mi
        limits:
          memory: 64Mi
