---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/grafana.integreatly.org/grafana_v1beta1.json
apiVersion: grafana.integreatly.org/v1beta1
kind: Grafana
metadata:
  name: grafana
  labels:
    grafana.internal/instance: grafana
spec:
  deployment:
    spec:
      replicas: 1

      template:
        spec:
          containers:
            - name: grafana
              env:
                - name: GF_SECURITY_ADMIN_PASSWORD
                  valueFrom:
                    secretKeyRef:
                      name: grafana-admin-password
                      key: GF_SECURITY_ADMIN_PASSWORD

  httpRoute:
    spec:
      hostnames:
        - grafana.nasenov.dev
      parentRefs:
        - name: envoy-internal
          namespace: networking
