---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: rook-ceph-cluster
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: rook-ceph-cluster
  values:
    toolbox:
      enabled: true
      resources:
        requests:
          memory: 64Mi
        limits:
          memory: 64Mi

    monitoring:
      enabled: true
      createPrometheusRules: true
      prometheusRuleOverrides:
        CephNodeDiskspaceWarning:
          disabled: true

    cephClusterSpec:
      cephConfig:
        global:
          bdev_enable_discard: "true" # quote
          osd_class_update_on_start: "false" # quote
          device_failure_prediction_mode: local # requires mgr module
        mon:
          mon_cluster_log_level: "info"
      cleanupPolicy:
        wipeDevicesFromOtherClusters: true
      dashboard:
        enabled: true
        urlPrefix: /
        ssl: false
        prometheusEndpoint: http://kube-prometheus-stack-prometheus.observability.svc.cluster.local:9090
      mgr:
        modules:
          - name: diskprediction_local
            enabled: true
          - name: insights
            enabled: true
          - name: rook
            enabled: true
      network:
        provider: host
        connections:
          requireMsgr2: true
      storage:
        useAllNodes: true
        useAllDevices: false
        devicePathFilter: /dev/disk/by-id/nvme-KINGSTON_SKC3000S1024G_.*
        config:
          osdsPerDevice: "1"
      resources:
        mgr:
          requests:
            cpu: 100m
        mon:
          requests:
            cpu: 100m
            memory: 512Mi
          limits:
            memory: 1Gi
        osd:
          requests:
            cpu: 100m
            memory: 1Gi
          limits:
            memory: 2Gi
        prepareosd:
          requests:
            cpu: 100m
        logcollector:
          requests:
            memory: 64Mi
          limits:
            memory: 64Mi
        cleanup:
          requests:
            cpu: 100m

    route:
      dashboard:
        host:
          name: rook.nasenov.dev
          path: /
          pathType: PathPrefix
        parentRefs:
          - name: envoy-internal
            namespace: networking

    cephBlockPools:
      - name: ceph-blockpool
        spec:
          failureDomain: host
          replicated:
            size: 3
        storageClass:
          enabled: true
          name: ceph-block
          isDefault: true
          reclaimPolicy: Delete
          allowVolumeExpansion: true
          volumeBindingMode: Immediate
          parameters:
            imageFormat: "2"
            imageFeatures: layering,fast-diff,object-map,deep-flatten,exclusive-lock
            csi.storage.k8s.io/provisioner-secret-name: rook-csi-rbd-provisioner
            csi.storage.k8s.io/provisioner-secret-namespace: "{{ .Release.Namespace }}"
            csi.storage.k8s.io/controller-expand-secret-name: rook-csi-rbd-provisioner
            csi.storage.k8s.io/controller-expand-secret-namespace: "{{ .Release.Namespace }}"
            csi.storage.k8s.io/node-stage-secret-name: rook-csi-rbd-node
            csi.storage.k8s.io/node-stage-secret-namespace: "{{ .Release.Namespace }}"
            csi.storage.k8s.io/fstype: ext4

    cephBlockPoolsVolumeSnapshotClass:
      enabled: true
      name: csi-ceph-blockpool
      isDefault: true
      deletionPolicy: Delete

    cephFileSystems: []

    cephObjectStores: []
