---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/kustomize.toolkit.fluxcd.io/kustomization_v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: cilium
spec:
  interval: 1h
  targetNamespace: kube-system
  dependsOn:
    - name: prometheus-operator-crds
      namespace: observability
  path: ./kubernetes/apps/kube-system/cilium/app
  prune: false
  sourceRef:
    kind: GitRepository
    name: flux-system
    namespace: flux-system
  wait: true
---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/kustomize.toolkit.fluxcd.io/kustomization_v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: cilium-config
spec:
  interval: 1h
  targetNamespace: kube-system
  dependsOn:
    - name: cilium
    - name: envoy-gateway
      namespace: networking
  path: ./kubernetes/apps/kube-system/cilium/config
  prune: false
  sourceRef:
    kind: GitRepository
    name: flux-system
    namespace: flux-system
