---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: kube-prometheus-stack
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: kube-prometheus-stack
  values:
    cleanPrometheusOperatorObjectNames: true

    crds:
      enabled: false

    prometheus:
      route:
        main:
          enabled: true
          hostnames:
            - prometheus.nasenov.dev
          parentRefs:
            - name: internal
              namespace: kube-system
              sectionName: https

      prometheusSpec:
        externalUrl: https://prometheus.nasenov.dev
        ruleSelectorNilUsesHelmValues: false
        serviceMonitorSelectorNilUsesHelmValues: false
        podMonitorSelectorNilUsesHelmValues: false
        scrapeConfigSelectorNilUsesHelmValues: false
        retention: 30d
        retentionSize: 25GB
        storageSpec:
          volumeClaimTemplate:
            spec:
              storageClassName: openebs-hostpath
              resources:
                requests:
                  storage: 25Gi
        additionalScrapeConfigs:
          - job_name: pve-node-exporter
            static_configs:
              - targets:
                  - pve.nasenov.dev:9100
          - job_name: pve-smartctl-exporter
            static_configs:
              - targets:
                  - pve.nasenov.dev:9633
          - job_name: truenas-node-exporter
            static_configs:
              - targets:
                  - truenas.nasenov.dev:9100
          - job_name: truenas-smartctl-exporter
            static_configs:
              - targets:
                  - truenas.nasenov.dev:9633

    alertmanager:
      route:
        main:
          enabled: true
          hostnames:
            - alertmanager.nasenov.dev
          parentRefs:
            - name: internal
              namespace: kube-system
              sectionName: https

      alertmanagerSpec:
        alertmanagerConfiguration:
          name: alertmanager
          global:
            resolveTimeout: 5m
        externalUrl: https://alertmanager.nasenov.dev
        storage:
          volumeClaimTemplate:
            spec:
              storageClassName: openebs-hostpath
              resources:
                requests:
                  storage: 1Gi

    grafana:
      enabled: false
      forceDeployDashboards: true

    nodeExporter:
      enabled: false

    kubeStateMetrics:
      enabled: false

    kubeApiServer:
      service:
        selector:
          k8s-app: kube-apiserver

    kubeControllerManager:
      service:
        selector:
          k8s-app: kube-controller-manager

    kubeEtcd:
      service:
        selector:
          k8s-app: kube-controller-manager

    kubeScheduler:
      service:
        selector:
          k8s-app: kube-scheduler

    kubeProxy:
      enabled: false

    additionalPrometheusRulesMap:
      dockerhub-rules:
        groups:
          - name: dockerhub
            rules:
              - alert: DockerhubRateLimitRisk
                annotations:
                  summary: Kubernetes cluster Dockerhub rate limit risk
                expr: count(time() - container_last_seen{image=~"(docker.io).*",container!=""} < 30) > 100
                labels:
                  severity: critical
      oom-rules:
        groups:
          - name: oom
            rules:
              - alert: OomKilled
                annotations:
                  summary: Container {{ $labels.container }} in pod {{ $labels.namespace }}/{{ $labels.pod }} has been OOMKilled {{ $value }} times in the last 10 minutes.
                expr: (kube_pod_container_status_restarts_total - kube_pod_container_status_restarts_total offset 10m >= 1) and ignoring (reason) min_over_time(kube_pod_container_status_last_terminated_reason{reason="OOMKilled"}[10m]) == 1
                labels:
                  severity: critical
