---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/kustomize.toolkit.fluxcd.io/kustomization_v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: gatus
spec:
  targetNamespace: monitoring
  interval: 30m
  retryInterval: 2m
  timeout: 5m
  dependsOn:
    - name: rook-ceph-cluster
      namespace: rook-ceph
    - name: prometheus-operator-crds
      namespace: monitoring
  path: ./kubernetes/apps/monitoring/gatus/app
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
    namespace: flux-system
