---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/kustomize.toolkit.fluxcd.io/kustomization_v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: jellyfin
spec:
  targetNamespace: default
  interval: 30m
  retryInterval: 2m
  timeout: 5m
  dependsOn:
    - name: volsync
      namespace: storage
    - name: rook-ceph-cluster
      namespace: rook-ceph
    - name: external-secrets-stores
      namespace: external-secrets
    - name: intel-device-plugin-gpu
      namespace: kube-system
  path: ./kubernetes/apps/default/jellyfin/app
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
    namespace: flux-system
