---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/kustomize.toolkit.fluxcd.io/kustomization_v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: crunchy-postgres-operator
spec:
  targetNamespace: database
  interval: 30m
  retryInterval: 2m
  timeout: 5m
  path: ./kubernetes/apps/database/crunchy-postgres-operator/app
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
    namespace: flux-system
  wait: true
---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/kustomize.toolkit.fluxcd.io/kustomization_v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: crunchy-postgres-operator-cluster
spec:
  targetNamespace: database
  interval: 30m
  retryInterval: 2m
  timeout: 5m
  dependsOn:
    - name: crunchy-postgres-operator
      namespace: database
    - name: external-secrets-stores
      namespace: external-secrets
    - name: prometheus-operator-crds
      namespace: monitoring
  path: ./kubernetes/apps/database/crunchy-postgres-operator/cluster
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
    namespace: flux-system
  wait: true
  postBuild:
    substituteFrom:
      - kind: Secret
        name: crunchy-postgres-r2
        optional: false
---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/kustomize.toolkit.fluxcd.io/kustomization_v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: crunchy-postgres-operator-secretstore
spec:
  targetNamespace: database
  interval: 30m
  retryInterval: 2m
  timeout: 5m
  dependsOn:
    - name: external-secrets
      namespace: external-secrets
  path: ./kubernetes/apps/database/crunchy-postgres-operator/clustersecretstore
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
    namespace: flux-system
  wait: true
