---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/kustomize.toolkit.fluxcd.io/kustomization_v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: promtail
  namespace: flux-system
spec:
  targetNamespace: monitoring
  interval: 10m0s
  path: ./kubernetes/apps/monitoring/promtail/app
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
