---
# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ./externalsecret.yaml
  - ./grafanadashboard.yaml
  - ./helmrelease.yaml
  - ./httproute.yaml
  - ./ocirepository.yaml
  - ./podmonitor.yaml
  - ./receiver.yaml
configMapGenerator:
  - name: flux-instance-helm-values
    files:
      - values.yaml=./values.yaml
generatorOptions:
  disableNameSuffixHash: true
