---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: alloy
spec:
  interval: 1h
  chart:
    spec:
      chart: alloy
      version: 1.5.2
      sourceRef:
        kind: HelmRepository
        name: alloy
  values:
    alloy:
      configMap:
        create: false
        name: alloy
        key: config.alloy
      mounts:
        varlog: true

    controller:
      tolerations:
        - key: node-role.kubernetes.io/control-plane
          operator: Exists
          effect: NoSchedule

    serviceMonitor:
      enabled: true

    extraObjects:
      - apiVersion: gateway.networking.k8s.io/v1
        kind: HTTPRoute
        metadata:
          name: alloy
        spec:
          hostnames:
            - alloy.nasenov.dev
          parentRefs:
            - name: envoy-internal
              namespace: networking
          rules:
            - backendRefs:
                - name: alloy
                  namespace: observability
                  port: 12345
