---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/kustomize.toolkit.fluxcd.io/kustomization_v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: spegel
spec:
  interval: 1h
  targetNamespace: kube-system
  dependsOn:
    - name: grafana
      namespace: observability
  path: ./kubernetes/apps/kube-system/spegel/app
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
    namespace: flux-system
