---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/kustomize.toolkit.fluxcd.io/kustomization_v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: volsync
spec:
  interval: 1h
  targetNamespace: volsync-system
  dependsOn:
    - name: snapshot-controller
      namespace: kube-system
    - name: grafana
      namespace: observability
    - name: prometheus-operator-crds
      namespace: observability
  path: ./kubernetes/apps/volsync-system/volsync/app
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
    namespace: flux-system
  wait: true
