---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/kustomize.toolkit.fluxcd.io/kustomization_v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: alloy
spec:
  interval: 1h
  targetNamespace: observability
  components:
    - ../../../../components/gatus/guarded
  dependsOn:
    - name: prometheus-operator-crds
    - name: envoy-gateway
      namespace: networking
  path: ./kubernetes/apps/observability/alloy/app
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
    namespace: flux-system
  postBuild:
    substitute:
      APP: alloy
