---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: loki
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: loki
  values:
    deploymentMode: SingleBinary

    loki:
      auth_enabled: false
      limits_config:
        retention_period: 30d
      commonConfig:
        replication_factor: 1
      storage:
        type: filesystem
      schemaConfig:
        configs:
          - from: "2024-11-01"
            store: tsdb
            object_store: filesystem
            schema: v13
            index:
              prefix: index_
              period: 24h
      compactor:
        working_directory: /var/loki/compactor/retention
        delete_request_store: filesystem
        retention_enabled: true
      analytics:
        reporting_enabled: false
      ingester:
        chunk_encoding: snappy

    singleBinary:
      replicas: 1
      persistence:
        storageClass: openebs-hostpath
        size: 50Gi

    gateway:
      enabled: false

    write:
      replicas: 0

    read:
      replicas: 0

    backend:
      replicas: 0

    chunksCache:
      enabled: false

    resultsCache:
      enabled: false

    test:
      enabled: false

    lokiCanary:
      enabled: false

    sidecar:
      image:
        repository: ghcr.io/kiwigrid/k8s-sidecar
