---
alerting:
  discord:
    webhook-url: ${GATUS_DISCORD_WEBHOOK_URL}
    default-alert:
      description: health check failed
      send-on-resolved: true
      success-threshold: 3
      failure-threshold: 3

connectivity:
  checker:
    target: 1.1.1.1:53
    interval: 1m

endpoints:
  - name: mosquitto
    group: infrastructure
    url: tcp://mosquitto.default.svc.cluster.local:1883
    interval: 1m
    ui:
      hide-url: true
      hide-hostname: true
    conditions:
      - "[CONNECTED] == true"
    alerts:
      - type: discord
  - name: flux-webhook
    group: external
    url: https://flux-webhook.nasenov.dev
    interval: 1m
    client:
      dns-resolver: tcp://1.1.1.1:53
    conditions:
      - "[STATUS] == 404"
    alerts:
      - type: discord

metrics: true

storage:
  type: sqlite
  path: ${GATUS_CONFIG_PATH}/gatus.db
  caching: true

ui:
  title: Status | Gatus
  header: Status

web:
  port: ${GATUS_WEB_PORT}
