---
# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: networking
components:
  - ../../components/alerts
resources:
  - ./namespace.yaml
  - ./cloudflared/ks.yaml
  - ./envoy-gateway/ks.yaml
  - ./external-dns-cloudflare/ks.yaml
  - ./external-dns-pihole/ks.yaml
