---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/kustomize.toolkit.fluxcd.io/kustomization_v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: flux-instance
spec:
  interval: 1h
  targetNamespace: flux-system
  dependsOn:
    - name: flux-operator
    - name: external-secrets-stores
      namespace: external-secrets
    - name: grafana
      namespace: observability
    - name: prometheus-operator-crds
      namespace: observability
    - name: envoy-gateway
      namespace: networking
  path: ./kubernetes/apps/flux-system/flux-instance/app
  prune: false
  sourceRef:
    kind: GitRepository
    name: flux-system
    namespace: flux-system
