---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/kustomize.toolkit.fluxcd.io/kustomization_v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: flux-instance
spec:
  targetNamespace: flux-system
  interval: 30m
  retryInterval: 2m
  timeout: 5m
  dependsOn:
    - name: flux-operator
      namespace: flux-system
    - name: cilium
      namespace: kube-system
    - name: external-secrets-stores
      namespace: external-secrets
    - name: prometheus-operator-crds
      namespace: monitoring
  path: ./kubernetes/apps/flux-system/flux-instance/app
  prune: false
  sourceRef:
    kind: GitRepository
    name: flux-system
    namespace: flux-system
