---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: smartctl-exporter
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: prometheus-smartctl-exporter
  values:
    fullnameOverride: smartctl-exporter

    serviceMonitor:
      enabled: true
      relabelings:
        - action: labeldrop
          regex: (pod)
        - action: replace
          regex: (.*);(.*)
          replacement: $1.nasenov.dev:$2
          sourceLabels:
            - __meta_kubernetes_endpoint_node_name
            - __meta_kubernetes_pod_container_port_number
          targetLabel: instance
