---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: smartctl-exporter
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: prometheus-smartctl-exporter
  values:
    fullnameOverride: smartctl-exporter

    serviceMonitor:
      enabled: true
