---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: home-assistant
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: home-assistant
  values:
    controllers:
      home-assistant:
        pod:
          securityContext:
            runAsUser: 1000
            runAsGroup: 1000
            fsGroup: 1000
            fsGroupChangePolicy: "OnRootMismatch"
        containers:
          app:
            image:
              repository: ghcr.io/home-assistant/home-assistant
              tag: 2025.12.3
            env:
              TZ: Europe/Sofia
            resources:
              requests:
                cpu: 10m
              limits:
                memory: 512Mi

    service:
      app:
        ports:
          http:
            port: 80
            targetPort: 8123

    route:
      app:
        hostnames:
          - "{{ .Release.Name }}.nasenov.dev"
          - hass.nasenov.dev
        parentRefs:
          - name: envoy-internal
            namespace: networking

    persistence:
      config:
        existingClaim: "{{ .Release.Name }}"
      tmp:
        type: emptyDir
