---
services:
  pihole:
    container_name: pihole
    image: ghcr.io/pi-hole/pihole:2026.02.0
    restart: unless-stopped
    environment:
      TZ: Europe/Sofia
      FTLCONF_dns_listeningMode: all
      FTLCONF_dns_upstreams: 1.1.1.1;8.8.8.8;9.9.9.9
      WEBPASSWORD_FILE: pi_hole_admin_password
    secrets:
      - pi_hole_admin_password
    networks:
      pihole:
        ipv4_address: 192.168.0.53
    volumes:
      - pihole:/etc/pihole

secrets:
  pi_hole_admin_password:
    file: /mnt/apps/pihole/pi_hole_admin_password

networks:
  pihole:
    driver: macvlan
    driver_opts:
      parent: enp2s0
    ipam:
      config:
        - subnet: 192.168.0.0/24
          gateway: 192.168.0.1
          ip_range: 192.168.0.53/32

volumes:
  pihole:
