---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/kustomize.toolkit.fluxcd.io/kustomization_v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: kube-prometheus-stack
spec:
  interval: 1h
  targetNamespace: observability
  components:
    - ../../../../components/gatus/guarded
  dependsOn:
    - name: external-secrets-stores
      namespace: external-secrets
    - name: prometheus-operator-crds
    - name: openebs
      namespace: openebs
    - name: envoy-gateway
      namespace: networking
  path: ./kubernetes/apps/observability/kube-prometheus-stack/app
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
    namespace: flux-system
  postBuild:
    substitute:
      APP: kube-prometheus-stack
      GATUS_SUBDOMAIN: prometheus
