---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/kustomize.toolkit.fluxcd.io/kustomization_v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: grafana
spec:
  interval: 1h
  targetNamespace: observability
  dependsOn:
    - name: external-secrets-stores
      namespace: external-secrets
    - name: prometheus-operator-crds
    - name: crunchy-postgres-operator-cluster
      namespace: database
    - name: crunchy-postgres-operator-secretstore
      namespace: database
    - name: envoy-gateway
      namespace: networking
  path: ./kubernetes/apps/observability/grafana/app
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
    namespace: flux-system
