---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: rook-ceph
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: rook-ceph
  values:
    image:
      repository: ghcr.io/rook/ceph

    csi:
      enableCephfsDriver: false
      enableCephfsSnapshotter: false
      enableLiveness: true
      serviceMonitor:
        enabled: true
      csiRBDPluginResource: |
        - name : driver-registrar
          resource:
            requests:
              memory: 64Mi
              cpu: 50m
            limits:
              memory: 128Mi
        - name : csi-rbdplugin
          resource:
            requests:
              memory: 256Mi
              cpu: 100m
            limits:
              memory: 512Mi
        - name : liveness-prometheus
          resource:
            requests:
              memory: 64Mi
              cpu: 50m
            limits:
              memory: 128Mi

    monitoring:
      enabled: true
