---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/upgrade.cattle.io/plan_v1.json
apiVersion: upgrade.cattle.io/v1
kind: Plan
metadata:
  name: kubernetes
spec:
  # renovate: datasource=docker depName=ghcr.io/siderolabs/kubelet
  version: v1.34.1
  serviceAccountName: system-upgrade
  secrets:
    - name: system-upgrade
      path: /var/run/secrets/talos.dev
      ignoreUpdates: true
  concurrency: 1
  exclusive: true
  nodeSelector:
    matchExpressions:
      - key: node-role.kubernetes.io/control-plane
        operator: Exists
  tolerations:
    - key: node-role.kubernetes.io/control-plane
      operator: Exists
      effect: NoSchedule
  upgrade:
    image: ghcr.io/siderolabs/talosctl:v1.11.2
    args:
      - --nodes=$(SYSTEM_UPGRADE_NODE_NAME)
      - upgrade-k8s
      - --to=$(SYSTEM_UPGRADE_PLAN_LATEST_VERSION)
